/*css*/
*, *::after, *::before {
    box-sizing:border-box;
    padding: 0; margin: 0;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    color:black;
}

main ul, main img, main p{
    width: 100%;
}

/* bron: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2*/
html {
  scroll-behavior: smooth;
}


/*------------------------------- header -------------------------- */
header{
    padding: 1em;
}

header div h1{
    font-size: 1.5em;
    text-align: center;
    font-family: linotype-didot, serif;
}

header nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 1em;
}

header nav ul li a{
    text-decoration: none;
    font-family: linotype-didot, serif;
    font-size: 1.35em;
}






/*------------------------------- header  responsive —————————————   */
@media (min-width:515px){
	header div{
        width: 100%;
        display: flex;
        justify-content: center;
	}
	
	header div h1:first-of-type{
        margin-right: 0.25em;
	}
}


@media (min-width:830px){
    header{
        display: flex;
        justify-content: space-between;
    }
    
    header div{
        width: 70%;
        justify-content: flex-start;
    }
    
    header div h1{
        font-size:2em ;    
    }

    header nav{
        width: 30%;
    }
    
    header nav li:hover a{
        text-decoration: underline;
        color:#608c96;
    }
    
}

@media (min-width:1150px){
    header div h1{
    font-size: 3em;
    }
    
    header nav ul li a{
    font-size: 1.6em;
    }
}


/*---------------------------------------- main ------------------------------------------------ */
section{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

section:first-of-type{
    margin-top: 0;
}

section:last-of-type {
    margin-bottom: 0;
}

section > h2:first-of-type{
    margin: 0  auto 0.5em auto;
    font-family: linotype-didot, serif;
    font-weight: 500;
    font-size: 1.75em;

}

p{
    max-width: 43em;
}
/*------------------------------- section begin -------------------------- */
main section:first-of-type div{
    background-color: rgba(187, 241, 252, 0.9);
    padding: 1em;
}

main section:first-of-type div h2{
    color: #3b6069;
    font-family:linotype-didot, serif; 
    font-size: 1.65em;
}

main section:first-of-type div h4{
    margin-top: 1.5em;
}

main section:first-of-type div ul{
    margin-top: 0.5em;
    list-style-type: none;
    max-width: 400px ;
    
    display: grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main section:first-of-type div ul li{
    justify-self: center;
    max-width: 3.5em; 
}

main section:first-of-type div ul li img{
    width: 100%;
}

main section:first-of-type div ul li:first-of-type{
    margin-left: 0;
}


/*------------------------------- section projects -------------------------- */
main section:nth-of-type(2){
    margin: auto;
    max-width: 1300px;
}


main section:nth-of-type(2) ul{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: auto;
}

main section:nth-of-type(2) ul li{
    width: 90%;
    margin: 0.75em 0;
    box-shadow: 0px 0px 10px rgba(0, 85, 105, 0.5);
    list-style-type: none;
}

main section:nth-of-type(2) ul li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

main section:nth-of-type(2) ul li a div {
    padding: 0.45em 1em;
}

main section:nth-of-type(2) ul li a img{
    width: 100%;
    order: -2;
}


main section:nth-of-type(2) ul li a p{
    font-size: 0.85em;
    color: #608c96;
}

/*------------------------------- section About -------------------------- */
main section:nth-of-type(3){
    display: flex;
    flex-direction: column;
    
}

main section:nth-of-type(3) div{
    margin-top: 1em;
    padding: 0 1em;
}

main section:nth-of-type(3) div h3{
    margin-top: 0.5em;
    color:#608c96;
}

main section:nth-of-type(3) div:first-of-type{
    width: 80%;
    align-self: center;
}

main section:nth-of-type(3) div:nth-of-type(2) p + p{
    margin-top: 0.5em;
}

main section:nth-of-type(3) div:last-of-type ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

main section:nth-of-type(3) div:last-of-type li{
    padding: 0.25em 1em 0 0;
}

main section:nth-of-type(3) div:last-of-type li img{
    max-width: 20em;
}



/*------------------------------- section Contact -------------------------- */
main section:last-of-type{
    background-color:#77a9b5 ;
    padding: 1em;
}

main section:last-of-type h2{
    color: white;
}

main section:last-of-type ul li{
   list-style-type: none;
    padding: 0.5em 0;
}

main section:last-of-type ul li h4,main section:last-of-type ul li p{
    color:white;
}
/*------------------------------------------ footer ---------------------------------------- */
footer{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}




/*---------------------------------------- responsive ------------------------------------------------------- */
@media (min-width:370px){
    main section:first-of-type div ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 
    }
}

@media (min-width:425px){
    main section:first-of-type div ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    }
}

@media (min-width:490px){
    main section:first-of-type div ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:670px){
/*projects grid*/
    main section:nth-of-type(2) ul{
    grid-template-columns: 1fr 1fr;
    }
    
    main section:last-of-type ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        
    
    /*about me*/
    main section:nth-of-type(3){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 1em;
        padding: 0 1em;
    }
    main section:nth-of-type(3) h2{
        grid-column: 1 /5 ;
        grid-row: 1/2;
    }
    
    main section:nth-of-type(3) div{
        padding: 0;
        margin-top: 0;
    }
    
    main section:nth-of-type(3) div:first-of-type{
      width: 100%; 
        grid-column: 1 /2 ;
        grid-row: 2/3;
    }
    
    main section:nth-of-type(3) div:nth-of-type(2){
    grid-column: 2 /5 ;
    grid-row: 2/3;
    }
    
    main section:nth-of-type(3) div:last-of-type{
    grid-column: 1 /5 ;
    grid-row: 3/4;
    }
    
}

@media (min-width:760px){
    main section:first-of-type > img{
    width: 95%;
    margin: 1em auto;
    border: 5px solid #72a2ad;
    }

    main section:first-of-type{
    position: relative;
    }
    
    main section:first-of-type div{
    width: 22em;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    position: absolute; 
    top: calc(50% - 25%);
    left: 8%;
    }
    
    main section:first-of-type div ul{
        width: 100%;
    }
}

@media (min-width:1024px){
    main section:first-of-type > img{
        width: 85%;
    }
    
    main section:first-of-type div{
    width: 27em;
    height: 45%;
    left: 15%;
    }
    
    /*projects grid*/
    main section:nth-of-type(2) ul{
    grid-template-columns: 1fr 1fr 1fr;
    } 
}

@media (min-width:1150px){
    section > h2:first-of-type{
    font-size: 2em;
    }
    
    main section:first-of-type div{
    padding: 3em 2em;
    width: 29em;
    height: 45%;
    top: calc(50% - 20%);
    }

    
    /*about me*/
    main section:nth-of-type(3) div:last-of-type{
    grid-column: 2 /4 ;
    grid-row: 3/4;
    }
    
    main section:nth-of-type(3) div:first-of-type{
    grid-row: 2/4;
    width: 75%;
    justify-self: end;
    }
    
    main section:last-of-type ul{
    grid-template-columns: 1fr 1fr 1fr;
    }
    
    main section:last-of-type ul li{
    justify-self: center;
    }
}


@media (min-width:1200px){
    main section:first-of-type div h2{
    font-size: 2.5em;
    }
}
















